<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.1.8" targetFramework="net45" />
  <package id="FixtureBook" version="5.6.5373.33819" targetFramework="net45" />
  <package id="Moq" version="4.1.1311.0615" targetFramework="net45" />
  <package id="NetOffice.Core.Net35" version="1.6.0.0" targetFramework="net45" />
  <package id="NetOffice.Excel.Net35" version="1.6.0.0" targetFramework="net45" />
</packages>